header, footer {
    background-color: #1f2937;
}

h1 {
    color: #f9faf8;
}

body, a, button {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
}

h2, figcaption, .quote {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.click {
    background-color: #3882f6;
}

.main-text {
    font-size: 48px;
}

.secondary-text {
    font-size: 18px;
}

.logo-text {
    font-size: 24px;
}

.information-text, .quote {
    font-size: 36px;
}